main {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px 0px;
}

.grade-div {
  width: 400px;
  height: 400px;
}

.gradient-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.linear-gradient-one {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.linear-gradient-two {
  background: linear-gradient(45deg, #4facfe, #00f2fe);
}

.linear-gradient-three {
  background: linear-gradient(to right, #00f2fe 0%, #4facfe 50%, #00f2fe 100%);
}

.radial-gradient-one {
  background: radial-gradient(circle, #ff9a9e, #ffffff);
}

.radial-gradient-two {
  background: radial-gradient(circle at top left, #a1c4fd, #e4e8ea);
}

.conic-gradient {
  background: conic-gradient(from 0deg, red, yellow, green, blue, red);
}

.mutliple-linear-gradient {
  background: linear-gradient(
        to bottom right,
        #1478f2 9%,
        #1478f2 61%,
        #eef4ff 100%
      )
      bottom right,
    linear-gradient(to bottom left, #1478f2 9%, #1478f2 61%, #eef4ff 100%)
      bottom left,
    linear-gradient(to top left, #1478f2 9%, #1478f2 61%, #eef4ff 100%) top left,
    linear-gradient(to top right, #1478f2 9%, #1478f2 61%, #eef4ff 100%) top
      right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.gradient-button {
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  transition: background-position 0.5s;
  background-size: 200%;
}

.gradient-button:hover {
  background-position: right center;
}
